.image-projet-5{
    background: url(../../assets/mockup-projet-5.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.titre-logo-projet-1{
    background: url(../../assets/blender-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 62px;
    margin: 10px 10px 0 0;
}
.titre-logo-projet-2{
    background: url(../../assets/3D.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 62px;
    margin: 10px 10px 0 0;
}
.photo-ruelle{
    background: url(../../assets/projection-photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1600px;
    height: 900px;
}
.decor-3d-dans-blender{
    background: url(../../assets/projection-decor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1600px;
    height: 900px;
}
.scene-3d-dans-blender{
    background: url(../../assets/projection-scene.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1600px;
    height: 900px;
}
.single-demo-video{
    margin-bottom: 100px;
}