/* section-contact */
.contact-section {
    height: 100vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ECDF5C;
}

.grid-contact {
    padding-top: 130px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    width: 100vw;
}

.info-contact {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.info-contact>* {
    margin: 80px 0 0 0;
}

.cv-btn {
    margin: 15% 0 0 0;
}

/* Icon-Contact */
.sociaux {
    display: flex;
    justify-content: center;
    margin-left: 65px;
}

.sociaux a {
    margin: 0 70px 0 0;

    color: #ECDF5C;
}

.sociaux a:hover {
    color: #FFF47D;
}

.sociaux a:active {
    position: relative;
    top: 2px;
    color: #ECDF5C;
}

.fab {
    font-size: 4.688rem;
}

a .ico-sketchfab {
    background-image: url(../../assets/sketchfab-logo.svg), none;
    width: 75px;
    height: 75px;
}

a .ico-sketchfab:hover {
    background-image: url(../../assets/sketchfab-logo-hover.svg), none;
}

/* formulaire */

.formulaire-contact form {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
}

.formulaire-contact form>label,
textarea {
    margin: 50px 0 0 0;
    border-radius: 0;
}

.formulaire-contact form>input,
textarea {
    background: none;
}

.formulaire-contact form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #ECDF5C 1px solid;
    border-radius: 0;
}

.formulaire-contact a img:hover {
    transform: scale(1.05);
}

.formulaire-contact a img:active {
    transform: scale(1.01);
}
#section-contact{
    z-index: 2;
}

@media screen and (max-width: 768px) {

    .sociaux {
      width: 100vw;
      display: flex;
      justify-content: start;
    }
    .sociaux a {
      margin: 0 35px;
    }
    .formulaire-contact a img {
      display: flex;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 480px) {
    .titre-page {
      text-align: center;
      width: 100vw;
    }
    .contact {
      width: 100vw;
      height: 100%;
    }
    .grid-contact {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100vw;
    }
    .info-contact {
      grid-column-start: 2;
      grid-column-end: 3;
  
      grid-row-start: 1;
      grid-row-end: 2;
      width: 100vw;
      text-align: center;
    }
    .formulaire-contact {
      grid-column-start: 2;
      grid-column-end: 3;
  
      grid-row-start: 2;
      grid-row-end: 3;
      justify-self: center;
      align-self: center;
    }
    .info-contact > * {
      justify-self: center;
    }
    .info-contact h2 {
      font-size: 24px;
    }
    .sociaux {
      width: 100vw;
      display: flex;
      justify-content: center;
    }
    .sociaux a {
      margin: 0 10px;
    }
    .formulaire-contact a img {
      display: flex;
      justify-content: center;
    }
  }

#tsparticles{
    z-index: 1;
}